.dis-edit-btn {
    margin: var(--nd-space-500);
    background-color: #FF9800 !important;
    font-size: var(--nd-space-300);
    border: 1px #FF9800 solid;
}
.nd-dis-heading1 h2{
    font-size: var(--nd-space-400);
    color: #166a41;
    font-weight: 600;
    
}


button.dis-edit-btn.btn.btn-primary:hover{
    background-color: #FF9800 !important;
    border: 1px #FF9800 solid;
}
@media (max-width: 575.98px) {
    .nd-dis-heading1 h2{
margin-top: var(--nd-space-400);
    }
    .dis-edit-btn{
             margin: 0px;
    }
}
